<ion-header>
  <ion-toolbar>
    <ion-title>STORE</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCart()">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Filtro de categoría -->
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="filter" placeholder="Selecciona una categoría">
      <ion-select-option value="all">Todo</ion-select-option>
      <ion-select-option value="Ropa">Ropa</ion-select-option>
      <ion-select-option value="category2">Categoria 2</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Barra de búsqueda -->
  <ion-item class="search-bar-container">
    <ion-input type="text" [(ngModel)]="searchQuery" placeholder="Buscar producto"></ion-input>
    <ion-button fill="clear">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Mensaje de alerta en rojo si no se encuentran resultados -->
  <div *ngIf="filteredProducts.length === 0 " style="color: red; text-align: center; margin: 16px;">
    No se encontraron resultados para "{{ searchQuery }}"
  </div>
 
  <!-- Cuadrícula de productos -->
  <ion-grid *ngIf="filteredProducts.length > 0">
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let product of filteredProducts">
        <ion-card>
          <img [src]="product.img" alt="Product Image" (click)="showProductInfo(product)">
          <ion-card-header>
            <ion-card-title>{{ product.nombre }}</ion-card-title>
            <ion-card-subtitle>{{ product.prNeto | currency }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div>
              <ion-icon *ngFor="let star of [1, 2, 3, 4, 5]" 
                        [name]="star <= product.rating ? 'star' : 'star-outline'" 
                        color="warning"></ion-icon>
            </div>
            <div>
              <p>Colores disponibles:</p>
              <ion-chip *ngFor="let color of product.colors" [style.backgroundColor]="color"></ion-chip>
            </div>
            <ion-button fill="outline">
              <ion-icon name="cart-outline"></ion-icon>
              Añadir al carrito
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-item *ngFor="let item of products">
    
    <ion-img src="{{item.img}}"></ion-img>
  </ion-item> -->
</ion-content>
