<app-header></app-header>
<ion-content >
  <div>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Edad</th>
          <th>Edad</th>
          <th>Edad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Juan</td>
          <td>Pérez</td>
          <td>30</td>
        </tr>
        <tr>
          <td>María</td>
          <td>Gómez</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Pedro</td>
          <td>López</td>
          <td>40</td>
        </tr>
      </tbody>
    </table>
  </div>

</ion-content>  
