<app-header name="STOCK"></app-header>

<ion-content>
  <!-- <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar> -->
  <div>
    <div class="searchbar-container">
      <ion-searchbar [debounce]="1000" style="width: 50%;"></ion-searchbar>
    </div>
    <table style="width: 100%;">
      <!-- <caption>Datos de ventas</caption> -->
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Precio Neto</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of utils.datos | paginate: { itemsPerPage: noOfRows, currentPage: page }">

        <tr>
          <td><ion-checkbox></ion-checkbox> {{item.codigo}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.cantidad}}</td>
          <td>${{item.precio}}</td>
          <td>${{item.prNeto}}</td>
        </tr>



      </tbody>
    </table>
    <!-- paginacion de tabla de producto +  paginacion dinamica -->
    <div class="d-flex ">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
      <pagination-template #p="paginationApi" (pageChange)="page=$event">
        <div class="form-grup">
          <div class="item-par-page">
            Pagina
            <select name="noRows" id="noRows" (change)="page=1" [(ngModel)]="noOfRows">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="35">35</option>
              <option value="75">75</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>
      </pagination-template>
    </div>
    <div style="width: 100%; display: flex;">
      <ion-buttons slot="end">
        <ion-button id="open-modal">
          <ion-icon slot="start" name="add"></ion-icon>
          Producto
        </ion-button>
        <ion-button (click)="print()">
          <ion-icon slot="start" name="trash"></ion-icon>
          Eliminar
        </ion-button>
        <ion-button (click)="getProduct()">
          <ion-icon slot="start" name="refresh"  ></ion-icon>
          Actualizar tabla
        </ion-button>
      </ion-buttons>
    </div>

  </div>
  
  <ion-modal #modal trigger="open-modal" backdropDismiss="false">
    <ng-template>
      <ion-content>


        <ion-toolbar>
          <ion-title>Agregar Productos</ion-title>

          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <form [formGroup]="form" (ngSubmit)="agregar()">
          <ion-list style="display: flex; border-bottom: 1px solid black;">
            <app-custom-input autocomplete="codigo" type="text" label="Codigo"
              [control]="form.controls.codigo"></app-custom-input>
            <app-custom-input autocomplete="nombre" type="text" label="Nombre"
              [control]="form.controls.nombre"></app-custom-input>
            <app-custom-input autocomplete="cantidad" type="number" label="Cantidad"
              [control]="form.controls.cantidad"></app-custom-input>
            <app-custom-input autocomplete="precio" type="number" label="Precio"
              [control]="form.controls.precio"></app-custom-input>
            <app-custom-input autocomplete="precioneto" type="number" label="Precio Neto"
              [control]="form.controls.prNeto"></app-custom-input>

            <!-- <ion-input type="text" placeholder="Nombre de producto"></ion-input>
            <ion-input type="text" placeholder="Descripcion"></ion-input>
            <ion-input type="text" placeholder="Cantidad"></ion-input> -->
          </ion-list>
          <ion-button expand="block" type="sibmit">
            Agregar producto
          </ion-button>
          <ion-img src=""></ion-img>
        </form>
        <ion-list *ngIf="utils.datos">
          <ion-item *ngFor="let item of utils.datos;">
            <ion-label>{{item.codigo}}</ion-label>
            <ion-label>{{item.nombre}}</ion-label>
            <ion-label>{{item.cantidad}}</ion-label>
            <ion-label>${{item.precio}}</ion-label>
            <ion-label>${{item.prNeto}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <app-footer></app-footer>
</ion-content>
