<app-header name="STOCK"></app-header>

<ion-content>
  <!-- <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar> -->
  <div>
    <div class="searchbar-container">
      <!-- <ion-icon style="height: 25px; width: 25px; padding-top: 1.5%;"  name="funnel-outline"></ion-icon> -->
      <ion-searchbar [debounce]="1000" style="width: 50%;"></ion-searchbar>
    </div>
    <div class="main-container">
      <table style="width: 95%;">
        <!-- <caption>Datos de ventas</caption> -->
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Producto</th>
            <th>Categoria</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Precio Neto</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of dataP | paginate: { itemsPerPage: noOfRows, currentPage: page }; let i = index">
          <tr>
            <td><ion-checkbox style="vertical-align: middle" [(ngModel)]="item.checked"
                (ionChange)="onCheckboxChange(item.id)"></ion-checkbox> &nbsp; {{item.codigo}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.categoria}}</td>
            <td>{{item.cantidad}}</td>
            <td>${{item.precio}}</td>
            <td> ${{item.prNeto}} </td>
          </tr>
        </tbody>
      </table>

      <!-- paginacion de tabla de producto +  paginacion dinamica -->
      <div style="display: flex; flex-direction: column; align-items: center;">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
        <pagination-template #p="paginationApi" (pageChange)="page=$event">
          <div class="form-grup">
            <div class="item-par-page">
              Pagina



              <select name="noRows" id="noRows" (change)="page=1" [(ngModel)]="noOfRows">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="35">35</option>
                <option value="75">75</option>
                <option value="100">100</option>
              </select>
            </div>
          </div>
        </pagination-template>
      </div>

      <div>
        <ion-buttons slot="end">
          <ion-button id="open-modal">
            <ion-icon slot="start" name="add"></ion-icon>
            Producto
          </ion-button>
          
          <ion-button (click)="setOpen(true)" id="open-modal1">
            <ion-icon name="push-sharp"></ion-icon>
            Actualizar Inf.
          </ion-button>
          <ion-button (click)="getProduct()">
            <ion-icon slot="start" name="refresh"></ion-icon>
            Actualizar tabla
          </ion-button>
          <ion-button *ngIf="selectedIds?.length > 0" (click)="print()">
            <ion-icon slot="start" name="trash"></ion-icon>
            Eliminar
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
  <div  style="padding: 0; display: flex;
  align-items: flex-end; margin-top: 2%; flex-direction: column;">
    <ion-button  class="btnFunciones" (click)="print()">
      <ion-icon name="print-sharp"></ion-icon>&nbsp;&nbsp;
      Imp. Producto(s)
    </ion-button>
    <ion-button  class="btnFunciones">
      <ion-icon name="bug-sharp"></ion-icon>&nbsp;&nbsp;
      Analisis de venta
    </ion-button>
  </div>
  <ion-modal #modal trigger="open-modal" backdropDismiss="false">
    <ng-template>
      <ion-content>


        <ion-toolbar>
          <ion-title>Agregar Productos</ion-title>

          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <form [formGroup]="form" (ngSubmit)="agregar()">
          <!-- Inputs de optencion de codigo -->
          <ion-list style="display: flex; border-bottom: 1px solid black;">
            <app-custom-input autocomplete="codigo" type="text" label="Codigo"
              [control]="form.controls.codigo"></app-custom-input>
            <app-custom-input autocomplete="nombre" type="text" label="Nombre"
              [control]="form.controls.nombre"></app-custom-input>
            <app-custom-input autocomplete="categoria" type="text" label="Categoria"
              [control]="form.controls.categoria"></app-custom-input>
            <app-custom-input autocomplete="cantidad" type="number" label="Cantidad"
              [control]="form.controls.cantidad"></app-custom-input>
            <app-custom-input autocomplete="precio" type="number" label="Precio"
              [control]="form.controls.precio"></app-custom-input>
            <app-custom-input autocomplete="precioneto" type="number" label="Precio Neto"
              [control]="form.controls.prNeto"></app-custom-input>
          </ion-list>
          <ion-item>
            <app-custom-input type="text" label="Agregar una descripción"
              [control]="form.controls.description"></app-custom-input>
          </ion-item>
          <ion-item>
            <ion-avatar *ngIf="form.value.img">
              <img [src]="form.value.img" />
            </ion-avatar>
            <ion-icon *ngIf="!form.value.img" class="image-icon" name="image"></ion-icon>
            <!-- ============ Tomar/seleccionar una imagen ========-->
            <ion-button *ngIf="!form.value.img" (click)=" takeImage($event)" mode="ios" size="small" shape="round">
              <ion-icon slot="start" name="image"></ion-icon> Add una imagen
            </ion-button>
          </ion-item>
          <!-- ==========Btn + Product===========-->
          <ion-button expand="block" type="sibmit">
            Agregar producto
          </ion-button>
        </form>

      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content>


        <ion-toolbar>
          <ion-title>Actualizar Producto</ion-title>

          <ion-buttons slot="end">
            <ion-button color="light"  (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <div style="width: 100%; display: flex; justify-content: space-evenly;">
          <label *ngIf="savedData?.length == 0;" style="margin-top: 3%; color: red; font-size: medium;">¡Selecciona uno o mas productos!</label>
        </div>
        <div *ngIf="savedData?.length !== 0;">
        <form [formGroup]="form" (ngSubmit)="AdUpdate()">
          <ion-list class="modalLiP" >
            <ul *ngFor="let savedData of savedData; let i = index" class="ListProducto">
              <li>
                <ion-input [control]="form.controls.codigo"  type="text" [value]="savedData.codigo"></ion-input>
              </li>
              <li>
                <ion-input type="text" [value]="savedData.nombre"></ion-input>
                
              </li>
              <li>
                <ion-input type="text" [value]="savedData.categoria"></ion-input>
                
              </li>
              <li>
                <ion-input type="text" [value]="savedData.cantidad"></ion-input>
                
              </li>
              <li>
                <ion-input type="text" [value]="savedData.precio"></ion-input>
                
              </li>
              <li>
                <ion-input type="text" [value]="savedData.prNeto"></ion-input>
                
              </li>
              <li>
                <div style="width: 5%;">
                  <ion-img [src]="savedData.img"></ion-img>
                </div>
                
                
              </li>
            </ul>
          </ion-list>
          <!-- Inputs de optencion de codigo -->
          <!-- <ion-list *ngFor="let savedData of savedData; let i = index" style="display: flex; border-bottom: 1px solid black;">
            <app-custom-input autocomplete="codigo" type="text" label="Codigo"
              [control]="form.controls.codigo"></app-custom-input>
            <app-custom-input autocomplete="nombre" type="text" label="Nombre"
              [control]="form.controls.nombre"></app-custom-input>
            <app-custom-input autocomplete="categoria" type="text" label="Categoria"
              [control]="form.controls.categoria"></app-custom-input>
            <app-custom-input autocomplete="cantidad" type="number" label="Cantidad"
              [control]="form.controls.cantidad"></app-custom-input>
            <app-custom-input autocomplete="precio" type="number" label="Precio"
              [control]="form.controls.precio"></app-custom-input>
            <app-custom-input autocomplete="precioneto" type="number" label="Precio Neto"
              [control]="form.controls.prNeto"></app-custom-input>
          </ion-list> -->
          <!-- <ion-item>
            <app-custom-input type="text" label="Agregar una descripción"
              [control]="form.controls.description"></app-custom-input>
          </ion-item>
          <ion-item>
            <ion-avatar *ngIf="form.value.img">
              <img [src]="form.value.img" />
            </ion-avatar>
            <ion-icon *ngIf="!form.value.img" class="image-icon" name="image"></ion-icon> -->
            <!-- ============ Tomar/seleccionar una imagen ========-->
            <!-- <ion-button *ngIf="!form.value.img" (click)=" takeImage($event)" mode="ios" size="small" shape="round">
              <ion-icon slot="start" name="image"></ion-icon> Actualizar
            </ion-button>
          </ion-item> -->
          <!-- ==========Btn + Product===========-->
          <ion-button expand="block" type="sibmit">
            Actualizar Inf.
          </ion-button>
        </form>
      </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- <app-footer></app-footer> -->
  
  
</ion-content>
