/* style.css */
/*--002|josue.deñuna|Optimizacion a pantalla de menu al agregar un producto|F-*/

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically center */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  caption {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
  }
  
 td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #1f1d1d;
  }
  
  // th {
  //   background-color: #f2f2f2;
  // }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }
  .searchbar-container {
    display: flex; /* Enable flexbox layout */
    justify-content: flex-end; /* Align items to the end */
    align-items: center;
    padding: 0 23px;
  }

  ion-modal { //--02
    --width:70%;
    --height: 67.5%;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    // --background: rgb(14 116 144);
    --background: rgb(94 144 169);
    --color: white;
  }
  ion-list{
    margin: 30px;
  }
  .d-flex{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0% 10%;
  }
  ion-searchbar{
    --box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.14), 0 2px 0px -2px rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    --border-radius: 4px;
  }
  .image-icon{
    width: 10%; 
   height: 100%;
    object-fit: fill;
  }
  .ImgPro{
    margin: 6% 3%;
  }
  ion-avatar{
    width: 60px;
    height: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .ListProducto{
    display: flex;
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
  }
  
  .modalLiP{
    margin: 0;
    width: 100%;
    padding: 3% 0;
  }
  .ListProducto ion-input{
    text-align: center;
  }
  div .btnFunciones{
    width: 17%;
    margin-right: 2%;
  }
  .selectCol{
    border: none;
    padding: 0 10px;
    margin: 0px 7px;
    padding: 0 17px;
  }